<mat-form-field class="col">
    <mat-select #topLevelLocation placeholder="Located Within"
                (change)="updateSubLocationsFromId(topLevelLocation.value, 0)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let location of locations" [value]="location.id">
            {{ location.name }}
        </mat-option>
    </mat-select>
</mat-form-field>


<ng-template ngFor let-i="index" let-locationChildren [ngForOf]="locationChildrenLevels$">
    <mat-form-field *ngIf="(locationChildren | async) && (locationChildren | async).length"
                    class="col">
        <mat-select #childLocation placeholder="Located Within"
                    (change)="updateSubLocations(childLocation.value, i + 1)">
            <mat-option>--</mat-option>
            <mat-option
                    *ngFor="let child of (locationChildren | async)"
                    [value]="child">
                {{ child.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-template>

