::ng-deep .mat-input-wrapper, ::ng-deep .mat-form-field-infix {
    min-width: 100% !important;
    width: 100% !important;
}

::ng-deep .mat-card-content[_ngcontent-c7] {
    margin-right: 10px !important;
}
